{% extends 'adminBase.html.twig' %}

{% block javascripts %}
    <script src="/js/allocation.js"></script>
{% endblock %}

{% block body %}
    <h1 class="text-center">Denne siden skal inneholde allokeringsappen</h1>
    <div class="row">
        <div class="large-7 columns" >
            <table class="allocation_table" id="allocateStudents">
                <tr>
                    <th>Navn</th>
                    <th>Ukedag</th>
                    <th>Skole</th>
                    <th>Bolk</th>
                </tr>
            </table>
        </div>
        <div class="large-5 columns" >
            <table class="allocation_table" id="availability">
                <tr>
                    <th>Skole</th>
                    <th>Man</th>
                    <th>Tir</th>
                    <th>Ons</th>
                    <th>Tor</th>
                    <th>Fre</th>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
    <button class="button medium">Bekreft</button>
    <button class="button medium">Tilbakestill</button>
    <button class="button medium">Tilbake</button>
    </div>

{% endblock %}